<!DOCTYPE html>
<html>

<head>
  <title>Authenticated</title>
</head>

<body>

  <script>
    
    window.opener.postMessage({
      token: '<%= jwtToken %>',
      ok: true,
      id: '<%= id %>',
      username: '<%= username %>',
      balance: '<%= balance %>'
    }, '<%= clientUrl %>');

    window.close();
  </script>
</body>

</html>